<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9fd9b">  <td>20/09/22 17:01:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WeatherForecast.fetch_and_report_in_html_file()[pri:0, instance:WeatherForecast.WeatherForecast@1786dec2]">fetch_and_report_in_html_file</td> 
  <td>main@1990451863</td>   <td></td> </tr>
<tr bgcolor="a9fd9b">  <td>20/09/22 17:01:27</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WeatherForecast.open_the_weather_forecast_website()[pri:0, instance:WeatherForecast.WeatherForecast@1786dec2]">open_the_weather_forecast_website</td> 
  <td>main@1990451863</td>   <td></td> </tr>
<tr bgcolor="a9fd9b">  <td>20/09/22 17:01:38</td>   <td>11093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WeatherForecast.search_the_city()[pri:0, instance:WeatherForecast.WeatherForecast@1786dec2]">search_the_city</td> 
  <td>main@1990451863</td>   <td></td> </tr>
</table>
